{{#each this}}
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{original_title}}"  class="film-img">
            <p class="film-description">{{original_title}}
            </p>
            <p class="film-description  film-gengers">       
            Other | {{stringed_date}} <span class="film-raiting">{{vote_average}}<span>
            </p>
        </a>
    </li>
{{/each}}