
{{#each this}}
    <li class="film-item" id="{{id}}">
        <a href="" class="film-link">
            <img src="https://image.tmdb.org/t/p/w342/{{poster_path}}" alt="{{original_title}}"  id="{{id}}" class="film-img">
            <p class="film-description">{{original_title}}
            </p>
            <p class="film-description  film-gengers">{{genre_ids}}, Other || {{release_date}}
            </p>
        </a>
    </li>
{{/each}}