<div class='movie-card js-movie-card'>
  <picture class='img-container'>
    <img
      class='movie-card__image'
      src='https://image.tmdb.org/t/p/original/{{poster_path}}'
      alt='movie poster'
    />
  </picture>
  <div class='movie-card__description'>
    <h2 class='movie__title'>{{original_title}}</h2>
    <ul class='movie__stats-list'>
      <li class='movie__stats-item'>
        <p class='stats-title'>Vote / Votes</p>
        <p class='stats-description'><span class="vote">{{vote_average}}</span></span> / {{vote_count}}</p>
        </li>
      <li class='movie__stats-item'>
        <p class='stats-title'>Popularity</p>
        <p class='stats-description popularity'>{{popularity}}</p>
        </li>
      <li class='movie__stats-item'>
        <p class='stats-title'>Original Title</p>
        <p class='stats-description original-title'>{{original_title}}</p>
        </li>
      <li class='movie__stats-item'>
        <p class='stats-title'>Genre</p>
        <p class='stats-description genre'>{{genres.1.name}}</p>
        </li>
    </ul>
    <div class='movie__description-text'>
      <h3 class='movie__description-title'>ABOUT</h3>
      <p class='movie__description'>{{overview}}</p>
    </div>
    <div class='movie-card__button'>
      <button class='library-button active-btn' data-action="modalBtnAddWatched">add to Watched</button>
      <button class='library-button transparent-btn' data-action="movieBtnQueue">add to queue</button>
    </div>
  </div>
</div>